<h2 style="padding: 10px; padding-left: 0; padding-top: 30px;">
    {{ room ? room.name : '' }}
</h2>
<div class="row">
    <div class="col-6">
        <img src="assets/images/nhadep.png" style="width: 100%; border-radius: 10px 0 0 10px;" alt="">
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/images/nhadep.png" style="width: 100%; " alt="">
            </div>
            <div class="col-md-6">
                <img src="assets/images/nhadep.png" style="width: 100%; border-radius: 0 10px 0 0;" alt="">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <img src="assets/images/nhadep.png" style="width: 100%;" alt="">
            </div>
            <div class="col-md-6">
                <img src="assets/images/nhadep.png" style="width: 100%; border-radius: 0 0 10px 0;" alt="">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="content col">
        <div class="info">
            <div style="border-bottom: 1px solid; padding: 10px 10px 0 0; color: #e75e8d;">
                <h5 style="font-weight: bold; margin-bottom: 0;">
                    {{ room ? room.name : '' }}
                </h5>
                <ul class="d-flex list-unstyled" style="margin-bottom: 0;">
                    <li class="p-1">4 Khách</li>
                    <li class="p-1">1 Phòng ngủ</li>
                    <li class="p-1">1 giường</li>
                    <li class="p-1">Có phòng tắm riêng</li>
                </ul>
            </div>
            <div style="border-bottom: 1px solid;">
                <div class="d-flex align-items-center">
                    <img src="assets/images/avatar-04.jpg" alt="noimg"
                        style="width:50px; height:50px; border-radius:50%;">
                    <div class="d-flex flex-column" style="margin-left: 10px;">
                        <p style="margin-top: 10px; margin-bottom: 0; color: white;  font-weight: 600; font-size: 20px">
                            Môi trường thân thiện
                        </p>
                        <p style="margin-bottom: 5px;">Đây là một trong số ít khách sạn được đánh giá cao</p>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="d-flex flex-column" style="margin-left: 10px;">
                        <p style="margin-top: 10px; margin-bottom: 0; color: white;  font-weight: 600; font-size: 20px">
                            Có thái độ dịch vụ tốt
                        </p>
                        <p>Khách sạn chúng tôi có 31 đánh giá tốt từ khách hàng</p>
                    </div>
                </div>
            </div>

            <div style="border-bottom: 1px solid; color: #e75e8d;">
                <div>
                    <p style="margin: 20px 0; font-size: 26px; color: #e75e8d; font-weight: bold;">Thông tin phòng</p>
                </div>
                <p style="font-size: 18px;; color: white;">
                    {{ room.detail.description }}
                </p>
            </div>
            <div style="border-bottom: 1px solid; color: #e75e8d;">
                <p style="margin: 20px 0; font-size: 26px; color: #e75e8d; font-weight: bold;">Nơi này có gì cho bạn</p>
                <ul class="row list-unstyled" style="color: white;">
                    <li class="col-6">Chỗ để xe miễn phí tại nơi ở</li>
                    <li class="col-6">Đảm bảo an ninh</li>
                    <li class="col-6">Máy Báo Khói</li>
                </ul>
            </div>
            <div style="margin-bottom: 30px;">
                <div class="card">
                    <div class="card-header">
                        <h5>Vị trí khách sạn</h5>
                        <span class="d-block m-t-5">Show <code>địa chỉ</code> của khách sạn</span>
                    </div>
                    <div class="card-body">
                        <div id="markers-map" class="set-map" style="height:400px;">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d244.90637651226604!2d106.73810079737483!3d10.849369311144809!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1711871982143!5m2!1svi!2s"
                                width="100%" height="400px" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>