<div class="row">
    <div class="col-2"></div>
    <div class="col-8 login-box" style="background: #620260;">
      <h2>Login</h2>
      @if (!isSuccessful) {
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="user-box">
          <input type="text" name="username" [(ngModel)]="form.username" minlength="3" maxlength="20"
            #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.errors }">
          <label for="username">{{ username.errors ? username.errors['required'] ? 'Username is required' : username.errors['minlength'] ? 'Username must be at least 3 characters' : 'Username must be at most 20 characters' : 'Username' }}</label>
        </div>
        <div class="user-box">
          <input type="password" name="password" [(ngModel)]="form.password" #password="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && username.errors }">
          <label for="password">{{ password.errors ? 'Password is required' : 'Password' }}</label>
        </div>
        <a (click)="onSubmit()">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          LOGIN IN
        </a>
      </form>
      }
    </div>
    <div class="col-2"></div>
  </div>
  