<div class="row">
  <div class="col-2"></div>
  <div class="col-8 login-box" style="background: #620260;">
    <h2>Register</h2>
    @if (!isSuccessful) {
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="user-box">
        <input type="text" name="username" [(ngModel)]="form.username" minlength="3" maxlength="20"
          #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.errors }">
        <label for="username">{{ username.errors ? username.errors['required'] ? 'Username is required' : username.errors['minlength'] ? 'Username must be at least 3 characters' : 'Username must be at most 20 characters' : 'Username' }}</label>
      </div>
      <div class="user-box">
        <input type="email" name="email" [(ngModel)]="form.email" required email #email="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && email.errors }">
        <label for="email">{{ email.errors ? email.errors['required'] ? 'Email is required' : email.errors['email'] ? 'Email must be a valid email address' : 'Email' : 'Email' }}</label>
      </div>
      <div class="user-box">
        <input type="password" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && username.errors }">
        <label for="password">{{ password.errors ? password.errors['required'] ? 'Password is required' : password.errors['minlength'] ? 'Password must be at least 6 characters' : 'Password' : 'Password' }}</label>
      </div>
      <a (click)="onSubmit()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        SIGN IN
      </a>
    </form>
    }
    @if(isSuccessful){
      <div class="success-message">
        <p>Registration successful!</p>
        <p>Username: {{ registeredUsername }}</p>
        <p>Email: {{ registeredEmail }}</p>
      </div>
    }
  </div>
  <div class="col-2"></div>
</div>
